canvas { border: 1px solid blue; }

.buttons {
    position: absolute;
    bottom: 50px;
    left: 20%;
    min-width: 200px;
    min-height: 100px;
    display: flex;
}

.btn {
    min-height: 40%;
    min-width: 40%;
    font-weight: bold;
    font-size: large;
    display: flex;
    margin: 3px;
    text-align: center;
}

.liderboard {
    width: 800px;
    height: 600px;
    display: none;
}

table {
    background:lightgray;
    min-width: 30%;  
    min-height: 50%;
    color: rgb(46, 123, 240);
    text-align: center;
}